*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root {
    font-size: 62.5%;
    --ff-primary: 'Palanquin', sans-serif;

    --bg-primary: #8E9AAF;
    --bg-logo: #CBC0D3;
    --fc-secundary: #23053A;
    --bg-legend: #FEEAFA;
    --fc-legend: #4A4E69;
    --bg-main: #EFF1FF;
}

body{
    font-family: var(--ff-primary);
    background: var(--bg-main);
}

header {
    background: var(--bg-primary);
    display: grid;
    place-items: center;
    height: auto;
}

h1 {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;

    background: var(--bg-logo);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    text-align: center;
    padding: 0.8rem;
    line-height: 3.4rem;
    letter-spacing: 3px;

    margin-bottom: 2.9rem;
    
    -webkit-font-smoothing: antialiased;
}

header img {
    padding: 3.2rem 0;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    text-align: center;
    width: 31.5rem;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #23053a;
    margin-top: 1.4rem;
    -webkit-font-smoothing: antialiased;
}

.card {
    display: grid;
    gap: 3.2rem;
    margin-top: 6.3rem;
}

.lista {
    position: relative;
    width: 32rem;
    height: fit-content;
}

.img {
    width: 100%;
    border-radius: 2rem;

    animation: downtop 700ms 350ms backwards;
}

.txt {
    font-size: 2rem;
    color: #4a4e69;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    background: #feeafa;
    border-radius: 2rem;
    width: 11.2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;

    animation: topdown 700ms;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}








